<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.des.odontec.equipe.odontec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconeodontec"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconeodontec"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".View.MainActivity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.CadastrarUsuario"
            android:label="                Cadastro Odontec"
            android:windowSoftInputMode="adjustUnspecified"
            />
        <activity android:name=".View.ResetSenha" />
        <activity android:name=".View.AtualizarDados" />
        <activity android:name=".View.AtualizarSenha" />
        <activity android:name=".View.DeletarConta" />
        <activity android:name=".View.TipoPaciente" />
        <activity android:name=".View.AlteracaoSistemica" />
        <activity android:name=".View.TipoAnestesico" />
        <activity
            android:name=".View.InicialActivity"
            android:label="@string/title_activity_inicial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.PesoPaciente" />
        <activity android:name=".View.ResultadoFinal" />
        <activity android:name=".View.SelecionarPatologia" />
        <activity android:name=".View.SelecionarTratamento"></activity>
    </application>

</manifest>